.login-register-container {
  width: calc(100% - 200px);
  min-height: 91.5vh;
  margin-top: 8.5vh;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 3rem;
    font-weight: 600;
    color: $blue;
  }
  .title-description {
    font-size: 1rem;
    font-weight: 300;
    padding: 1.5rem 0.5rem;
  }
  input {
    width: 85%;
    max-width: 300px;
    border: 1px solid $blue;
    padding: 0.75rem 2rem;
  }
  input:not(:first-child) {
    margin: 0.5rem 0;
  }
  button {
    width: 85%;
    max-width: 300px;
    background: $blue;
    padding: 0.75rem 2rem;
    color: white;
    margin-top: 1rem;
  }
  .password-reset {
    margin: 1rem 0;
  }
  .signup-link {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .login-register-container {
    width: calc(100% - 75px);
    margin-left: 75px;
  }
}
@media screen and (max-width: 500px) {
  .login-register-container {
    width: 100%;
    margin-left: 0;
  }
}
