.login-register-container {
  width: calc(100% - 200px);
  min-height: 91.5vh;
  height: auto;
  margin-top: 8.5vh;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3rem;
    font-weight: 600;
    color: $blue;
  }
  .title-description {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 1.5rem;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      border: 1px solid black;
      outline: none;
      padding: 0.75rem 1rem;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
  a {
    text-align: right;
  }
  button {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    color: #fbdedb;
    display: inline-block;
    background: $blue;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .login-register-container {
    width: calc(100% - 75px);
    margin-left: 75px;
  }
}
@media screen and (max-width: 500px) {
  .login-register-container {
    width: 100%;
    margin-left: 0;
  }
}
