.topbar-container {
  width: calc(100% - 200px);
  height: 10vh;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 1rem;
  .topbar-left {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .topbar-logo {
      margin-right: 2rem;
      img {
        height: 30px;
      }
    }
    .topbar-searchbar {
      width: 50%;
      display: flex;
      border: 1px solid $grey;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      input {
        width: 100%;
        padding: 0 0.5rem;
      }
    }
  }
  .topbar-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      height: 35px;
      width: 35px;
      object-fit: cover;
      border-radius: 50px;
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .topbar-container {
    width: calc(100% - 50px);
    justify-content: center;
    margin-left: 60px;
    .topbar-left {
      justify-content: center;
    }
    .topbar-right {
      justify-content: center;
    }
  }
}
