@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./__variables.scss";
@import "../Sidebar/__sidebar";
@import "../Topbar/__topbar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: $font;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}
